<h1>Welcome to our Agency directory!</h1>

<h2>The long list: </h2>

<% @agencies.each do |agency| %>
  <h3><%= link_to agency.name, agency_path(agency) %></h3>
  <p>Posted by: <%= agency.user.email %></p>
  <p><%= agency.address %></p>
  <p>Description: <%= agency.description %></p>

  <% if policy(agency).edit? %>
    <%= link_to 'Edit', edit_agency_path(agency) %>
  <% end %>
  <% if policy(agency).destroy? %>
    <%= link_to 'Delete', agency, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<p>Are you working at an agency? Is your agency not listed here? Please add it <%= link_to "here", new_agency_path %></p>

